:root {
  --primary-color: #b0d7ff; /* Example: Blue color */
  --text-color: white;
  --background-color: #adacb5;
  --accent-color: #2d3142; /* Example: Red color */
  --accent-color2: #c66e37;
}

/* Resetting default margin and padding */
html,
body {
  margin: 0;
  padding: 0;
}

/* General styling */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Avenir Pro", sans-serif; /* Avenir Pro font */
  color: var(--text-color); /* Charcoal lettering */
  background-color: var(--background-color); /* Off-white background */
}

.currentevents {
  background-color: var(--accent-color2);
  color: white;
  text-align: center;
}

.container {
  max-width: 1000px; /* Max width for containers */
  margin: 0 auto; /* Center containers */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Box shadow */
}

/* Styling the hero section */
.hero-banner {
  background-color: var(--primary-color);
  text-align: center;
  padding: 20px;
  position: relative; /* Make relative for absolute positioning */
}

.hero-banner img {
  max-width: 50%; /* Preserve image integrity */
  display: block;
  margin: 0 auto;
}

/* Center the overlay text */
.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Styling the banner underneath hero image */
.banner {
  background-color: var(--accent-color); /* Charcoal background */
  text-align: center;
  padding: 10px;
  position: absolute;
  top: 100%; /* Move banner below hero image */
  left: 0;
  height: 20px;
  width: 988px; /* Stretch across the screen */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Box shadow */
}

.banner button {
  background-color: transparent;
  border: none;
  color: var(--text-color);
  font-size: 0.5rem;
  cursor: pointer;
  padding: 0%;
  width: 988px;
}

/* Styling the footer */
footer {
  background-color: var(--primary-color); /* Footer background color */
  color: var(--text-color); /* Charcoal lettering */
  text-align: center;
  padding: 20px;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.3); /* Box shadow */
  font-weight: bold; /* Bold footer text */
}

/* Additional styling */
/* Styling the call-to-action section */

.currentevents {
  background-color: var(--accent-color);
  color: white;
  text-align: center;
}

.cta {
  background-color: var(--accent-color2);
  color: white;
  text-align: center;
  padding: 50px;
  width: 80%;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cta-btn {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 15px;
  text-decoration: none;
  color: var(--text-color);
  background-color: #007bff;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.cta-btn:hover {
  background-color: #0056b3;
}

/* Styling the weather card */
.weather-card {
  background-color: #fff;
  color: rgb(60, 58, 58);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 20px auto;
}

.spotlights {
  margin: 20px auto;
  border-radius: 10px;
}

/* Styling the menu */
.menu {
  margin: 1rem auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  background-color: var(--primary-color);
  text-align: center;
}

.menu button {
  padding: 1rem;
  font-weight: bold;
}

h2 {
  text-align: center;
}

/* Styling the article section */
main article {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  background-color: #eee;
  font-weight: normal; /* Normal font weight for article text */
}

/* Grid view */
main .grid-view {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 5px;
  align-items: center;
}

main .grid-view section {
  text-align: center;
}

main .grid-view img {
  border: 1px solid #fff;
  box-shadow: 0 0 10px #333;
}

main .grid-view section > * {
  margin: 0.1rem;
}

main .grid-view h3 {
  font-family: "Caveat", cursive;
}

/* List view */
main .list-view {
  display: flex;
  flex-direction: column;
}

main .list-view section {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  margin: 0;
  padding: 0.25rem;
}

main .list-view section > * {
  margin: 0 1rem;
}

main .list-view section img {
  display: none; /* smaller viewports only */
}

main .list-view section h3 {
  font-size: 1rem;
  font-family: "Avenir Pro", sans-serif; /* Avenir Pro font */
  font-weight: bold; /* Bold font weight for section headers */
}

main .list-view section:nth-child(even) {
  background-color: var(--primary-color);
}

main article h3 {
  font-size: 1.5rem;
}

main article p {
  font-weight: bold; /* Bold font weight for article text */
  font-size: smaller;
}

main article a {
  font-family: "Avenir Pro", sans-serif; /* Avenir Pro font */
  font-size: 0.85rem;
  color: navy;
  letter-spacing: 1.1pt;
}

main img {
  height: 75px;
  max-width: 100%;
}

.events-btn {
  text-align: center;
}
