:root {
  --primary-color: #b0d7ff; /* Example: Blue color */
  --text-color: white;
  --background-color: #adacb5;
  --accent-color: #2d3142; /* Example: Red color */
  --accent-color2: #c66e37;
}

/* Resetting default margin and padding */
html,
body {
  margin: 0;
  padding: 0;
}

/* General styling */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Avenir Pro", sans-serif; /* Avenir Pro font */
  color: var(--text-color); /* Charcoal lettering */
  background-color: var(--background-color); /* Off-white background */
}

.currentevents {
  background-color: var(--accent-color2);
  color: white;
  text-align: center;
}

.container {
  max-width: 1000px; /* Max width for containers */
  margin: 0 auto; /* Center containers */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Box shadow */
}

/* Styling the hero section */
.hero-banner {
  background-color: var(--primary-color);
  text-align: center;
  padding: 20px;
  max-height: 80px;
}

.hero-banner img {
  max-width: 50%; /* Preserve image integrity */
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

/* Center the overlay text */
.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Styling the banner underneath hero image */
.banner {
  background-color: var(--accent-color); /* Charcoal background */
  text-align: center;
  padding: 10px;
  position: absolute;
  top: 0%; /* Move banner below hero image */
  left: 0;
  width: 100%; /* Stretch across the screen */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Box shadow */
}

.banner button {
  background-color: transparent;
  border: none;
  color: var(--text-color);
  font-size: 0.5rem;
  cursor: pointer;
  padding: 0%;
  width: 988px;
}

/* Styling the footer */
footer {
  background-color: var(--primary-color); /* Footer background color */
  color: var(--text-color); /* Charcoal lettering */
  text-align: center;
  padding: 20px;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.3); /* Box shadow */
  font-weight: bold; /* Bold footer text */
}

/* Additional styling */
/* Styling the call-to-action section */

.currentevents {
  background-color: var(--accent-color);
  color: white;
  text-align: center;
}

.spaceholder {
  height: 60px;
}

.cta {
  background-color: var(--accent-color2);
  color: white;
  text-align: center;
  padding: 50px;
  width: 80%;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cta-btn {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 15px;
  text-decoration: none;
  color: var(--text-color);
  background-color: #007bff;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.cta-btn:hover {
  background-color: #0056b3;
}

/* Styling the weather card */
.weather-card {
  background-color: #fff;
  color: rgb(60, 58, 58);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 20px auto;
}

.spotlights {
  margin: 20px auto;
  border-radius: 10px;
}

h2 {
  text-align: center;
}
h3 {
  text-align: center;
}
p {
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
}

.schwabfield {
  display: grid;
  grid-template-columns: 1/3;
  text-align: center;
  max-width: 750px;
  padding-left: 330px;
}

.omahafashion {
  text-align: center;
  max-width: 40%;
  padding-left: 270px;
}

.omahafashion2 {
  text-align: center;
  max-width: 30%;
}

.oktoberfest {
  text-align: center;
  max-width: 40%;
  padding-left: 270px;
}

.oktoberfest2 {
  padding-left: 200px;
}

.omaharodeo {
  text-align: center;
  max-width: 40%;
  padding-left: 550px;
}

/* Styling the menu */
.menu {
  margin: 1rem auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  background-color: var(--primary-color);
  text-align: center;
  display: none;
}
/* Hamburger Menu
.menu {
  display: none;
} */

.menu-items {
  display: none;
}

.menu button {
  padding: 1rem;
  font-weight: bold;
}

h2 {
  text-align: center;
}

/* Styling the article section */
main article {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  background-color: #eee;
  font-weight: normal; /* Normal font weight for article text */
}

/* Grid view */
main .grid-view {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 5px;
  align-items: center;
}

main .grid-view section {
  text-align: center;
}

main .grid-view img {
  border: 1px solid #fff;
  box-shadow: 0 0 10px #333;
  border-radius: 10px;
}

main .grid-view section > * {
  margin: 0.1rem;
}

main .grid-view h3 {
  font-family: "Caveat", cursive;
}

/* List view */
main .list-view {
  display: flex;
  flex-direction: column;
}

main .list-view section {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  margin: 0;
  padding: 0.25rem;
}

main .list-view section > * {
  margin: 0 1rem;
}

main .list-view section img {
  display: none;
  border-radius: 10px;
}

main .list-view section h3 {
  font-size: 1rem;
  font-family: "Avenir Pro", sans-serif; /* Avenir Pro font */
  font-weight: bold; /* Bold font weight for section headers */
}

main .list-view section:nth-child(even) {
  background-color: var(--primary-color);
}

main article h3 {
  font-size: 1.5rem;
}

main article p {
  font-weight: bold; /* Bold font weight for article text */
  font-size: smaller;
}

main article a {
  font-family: "Avenir Pro", sans-serif; /* Avenir Pro font */
  font-size: 0.85rem;
  color: navy;
  letter-spacing: 1.1pt;
}

main img {
  height: 75px;
  max-width: 100%;
  border-radius: 10px;
}

.events-btn {
  text-align: center;
}

/* Media Query for Hamburger Menu */
@media (max-width: 768px) {
  .menu {
    display: block;
  }

  .menu-items {
    display: none;
  }

  .menu.active .menu-items {
    display: block;
  }
}

/* CSS for the join page*/
/* Resetting default margin and padding */
html,
body {
  margin: 0;
  padding: 0;
}

/* General styling */
body {
  font-family: "Montserrat", sans-serif; /* Use Montserrat font */
  background-color: #f5f5f5; /* Light gray background */
  color: #333; /* Dark gray text color */
  line-height: 1.6; /* Line height for better readability */
}

/* Header styling */

.hero-banner {
  background-color: #007bff; /* Blue background color */
  color: white; /* White text color */
  text-align: center;
  padding: 20px;
}

.hero-banner h1 {
  margin: 0;
}

.hero-banner .minihead {
  margin-top: 5px;
  font-size: 0.8em; /* Smaller font size for subheading */
}

/* Navigation styling */
nav {
  background-color: #f8f9fa; /* Light gray background color */
  padding: 10px 0;
}

.currentevents {
  text-align: center;
}

.currentevents h2 {
  margin: 0;
  color: #007bff; /* Blue color for headings */
}

.currentevents p {
  margin: 5px 0;
}

.events-btn {
  display: inline-block;
  padding: 8px 20px;
  background-color: #007bff; /* Blue button background color */
  color: white; /* White text color */
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.events-btn:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

/* Main content styling */
main {
  padding: 20px;
}

form {
  max-width: 600px; /* Limit form width */
  margin: 0 auto; /* Center form horizontally */
  background-color: white; /* White background color */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
}

fieldset {
  margin-bottom: 20px;
}

legend {
  font-weight: bold;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #007bff; /* Blue button background color */
  color: white; /* White text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

/* Footer styling */
footer {
  text-align: center;
  padding: 20px;
  background-color: #007bff; /* Blue background color */
  color: white; /* White text color */
}

/* Additional styling */
@media (max-width: 768px) {
  form {
    padding: 10px; /* Reduce form padding on smaller screens */
  }
}

/* --search bar events page-- */

.search-container {
  margin-bottom: 20px;
}

#searchInput {
  padding: 8px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#searchButton {
  padding: 8px 16px;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  border-radius: 5px;
  cursor: pointer;
}

#searchButton:hover {
  background-color: #ddd;
}

.sidebar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 260px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  color: white;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

#demographics,
#population,
#economy,
#education,
#costofliving {
  width: 100px;
  height: 100px;
  padding: 20px;
  padding-bottom: 30px;
  border-radius: 10px;
}
.discover-card {
  width: 500px;
  height: 500px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

/* discover HTML - styles/images.css */

.content {
  max-width: 100%; /* Ensure images don't exceed their container width */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Remove any vertical spacing */
  width: 100%; /* Make images fill their parent container width */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Scale images uniformly within their container */
}

#discoverHeader {
  display: grid;
  grid-template-columns: 1fr 8fr;
  grid-template-rows: 55px;
}

/* CSS to hide menu items by default */
#menuItems {
  display: none;
  list-style-type: none;
  padding: 0;
}

#menuItems li {
  padding: 10px;
}

#menuItems li a {
  text-decoration: none;
  color: #333;
}
