:root {
  --primary-color: #B0D7FF; /* Example: Blue color */
  --text-color: white;
  --background-color: #ADACB5;
  --accent-color: #2D3142; /* Example: Red color */
  --accent-color2: #7C6354; 
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
  background-color: var(--background-color);
}

header {
  text-align: center;
  padding: 20px;
  background-color: var(--primary-color);
  
}

#tsuepic {
  max-width: 100%;
  height: auto;
}

.mynameheader {
  font-size: 1.5em;
  display: block;
  margin-top: 10px;
  color: black;
}

nav#nav1 {
  background-color: var(--accent-color);
  overflow: hidden;
 
 
}

nav#nav1 a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav#nav1 a:hover {
  background-color: #ddd;
  color: black;
}

main {
  padding: 20px;
}

h1.headb4name {
  font-size: 2em;
  color: var(--accent-color);
}

h1.headnme {
  font-size: 2.5em;
  color: var(--primary-color);
}

.card1,
.card2 {
  margin-top: 20px;
  border: 1px solid #ddd;
  padding: 20px;
  background-color: var(--primary-color);
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: var(--accent-color);
  color: white;
}

@media only screen and (max-width: 600px) {
  h1.headb4name {
    font-size: 1.5em;
  }

  h1.headnme {
    font-size: 2em;
  }

  .card1,
  .card2 {
    padding: 10px;
  }

  #nav1{
    display: flex;
    flex-direction: column;
  }
}