:root {
  --primary-color: #b0d7ff; /* Example: Blue color */
  --text-color: white;
  --background-color: #adacb5;
  --accent-color: #2d3142; /* Example: Red color */
  --accent-color2: #7c6354;
}

body {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  color: var(--text-color);
  /* background-color: var(--background-color); */
  background-image: linear-gradient(to bottom right, black, Blue);
}

header {
  text-align: center;
  padding: 20px;
  background-color: var(--primary-color);
}

#tsuepic {
  max-width: 100%;
  height: auto;
}

.mynameheader {
  font-size: 1.5em;
  display: block;
  margin-top: 10px;
  color: black;
}

/* * {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Roboto, sans-serif;
}

main {
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
  width: 760px;
  background-color: #eee;
  color: #000;
}

main img {
  float: right;
  margin: 0 0 1rem 1rem;
  border: 1px solid #333;
  box-shadow: 0 0 15px #777;
}

#mode {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 3rem;
  cursor: pointer;
  font-size: 2rem;
} */

#menu {
  display: block;
  margin: 0 auto;
}

#menu::before {
  content: "☰";
}

#menu.open::before {
  content: "✖";
}

nav#nav1 {
  background-color: var(--accent-color);
  overflow: hidden;
}

nav#nav1 a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav#nav1 a:hover {
  background-color: #ddd;
  color: black;
}

main {
  padding: 20px;
}

h1.headb4name {
  font-size: 2em;
  color: var(--accent-color);
}

h1.headnme {
  font-size: 2.5em;
  color: var(--primary-color);
}

.card2,
.card1 {
  margin-top: 20px;
  border: 1px solid #ddd;
  padding: 20px;
  background-color: var(--primary-color);
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: var(--accent-color);
  color: white;
}

@media only screen and (max-width: 600px) {
  h1.headb4name {
    font-size: 1.5em;
  }

  h1.headnme {
    font-size: 2em;
  }

  .card1,
  .card2 {
    padding: 10px;
  }

  #nav1 {
    display: flex;
    flex-direction: column;
  }
}

/* Hamburger Menu Styles */
.navigation {
  display: none;
}

.show-menu .navigation {
  display: flex;
  flex-direction: column;
}

.hammenu {
  display: block;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 24px;
}

/* Dark Mode Styles */
.dark-mode {
  background-color: #1a1a1a;
  color: #ffffff;
}

/* Add any additional dark mode styles as needed */
