  @media screen and (min-width: 768px) {
    nav {
      display: flex;
      justify-content: center;
    }

    main {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media only screen (min-width: 32em) {
    .card1 {
      grid-template-columns: 1fr; 
    }
  } 
