@media screen and (min-width: 768px) {
  #menu {
    display: none; /* hide hamburger button */
  }
  .navigation {
    display: none;
  }

  nav {
    display: flex;
    justify-content: space-around;
    font-size: 40px;
  }

  main {
    display: grid;
    grid-template-columns: 0.8fr auto;
    grid-gap: 70px;
  }

  .headb4name {
    text-align: center;
    text-decoration: underline;
    grid-column: 1/3;
    padding: 0%;
  }
  .headnme {
    text-align: center;
  }
}
